body {
  background-color: rgb(89, 157, 89);
}

canvas {
  border: 5px solid rgb(182, 212, 188);
  background: url('background.png') 0 center / 800px repeat-x;
  animation: moveBg 10s linear infinite;
}

@keyframes moveBg {
  0% {
    background-position: 0 center;
  }
  100% {
    background-position: -800px center;
  }
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.text {
  margin-bottom: 20px;
  text-align: center;
  color: white;
}
button {
  all: unset;
  border-style: solid;
  border-width: 2px;
  border-color: white;
  border-radius: 20px;
  padding: 3px 8px;
  font-size: 15px;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .container {
    top: 40%;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  canvas {
    background: url('background.png') 0 center / 100% repeat-x;
    width: 90%;
  }
}
